@tailwind base;
@tailwind components;
@tailwind utilities;

#menu-toggle:checked + #menu {
  display: block;
}

.inputStyle {
  @apply w-full h-12 pl-2 rounded-md shadow-md;
}

html {
  @apply bg-[#C7D2FF];
}

.custom-scrollbars__content {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scrollbars__content::-webkit-scrollbar {
  display: none;
}
.swiper {
  @apply px-12 max-sm:px-0;
}
